<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiashie.oaidfacade">

    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission android:name="freemme.permission.msa" />

    <application>
        <meta-data
            android:name="com.huawei.hms.client.service.name:ads-identifier"
            android:value="ads-identifier:3.4.39.302" />
    </application>
</manifest>